.App {
  text-align: center;
}

.TaskList{
  text-align: left;
}

.toolbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input{
  width: 200px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

Button{
justify-content: center;
  width:100px;
}

.TasksContainer{
   display: flex;
    flex-wrap: wrap; 
    width: 500px;
     flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
}

